:root {
  --primary-color: #f2c744;
  --light: #f4f6f9;
  --dark: #000;
  --primary-font: 'Shadows Into Light', cursive;
  --secondary-font: 'Dancing Script', cursive;
}

.empty-heading {
  display: none;
}

.section-images {
  grid-area: images;
}

.section-bio {
  grid-area: bio;
}

.header-wrapper {
  display: grid;
  justify-items: center;
  margin: 1rem;
}

.p1 {
  padding: 1rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-05 {
  margin-top: 0.5rem;
}

.mb-0 {
  margin-bottom: 0;
}

.header__logo-img {
  width: 8rem;
  height: auto;
}

.heading {
  font-family: var(--secondary-font);
}

.paragraph {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-style: normal;
}

.paragraph-text {
  font-family: var(--primary-font);
  font-weight: 500;
  text-align: center;
}

.shadowed {
  box-shadow: 0 0 0.5rem 0.1rem grey;
}

.bold {
  font-weight: bold;
}

.main-section:after {
  content: "";
  display: block;
  clear: both;
}

.section-images {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-template-rows: repeat(8, minmax(50px, 1fr));
  grid-gap: 10px;
  justify-items: stretch;
  align-items: stretch;
}

.section-images__img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  border-radius: 0.3rem;
  object-fit: cover;
  margin: 0;
}

.img11 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.img21 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 5;
}

.img31 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 7;
}

.img41 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 7;
  grid-row-end: 8;
}

.img12 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.img22 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.img32 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 6;
}

.img42 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 9;
}

.img13 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}

.img23 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

.img33 {
  grid-area: 5 / 3 / 9 / 4;
}

.section-bio {
  display: grid;
  justify-items: center;
  margin: 1rem;
}

.section-bio__avatar {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 50%;
}

.section-bio__social-media-div {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

.footer-wrapper {
  display: grid;
  justify-items: center;
  margin: 1rem;
}

.footer__logo-img {
  width: 4rem;
  height: auto;
}

@media screen and (min-width: 414px) and (max-width: 992px) {
  .section-images-wrapper {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .section-bio-wrapper {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

@media screen and (min-width: 993px) {
  .section-bio-wrapper {
    position: fixed;
    top: 230px;
    right: 0.5rem;
    width: 32%;
    float: right;
    margin-right: 1rem;
  }
  .section-images-wrapper {
    width: 62%;
    float: left;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}