body {
    display: flex;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
}

.centered {
    display: flex;
    justify-content: center;
}

.table {
    margin-top: 10px;
}
.displayInline {
    display: inline-block;
}

table, td, th {
    border: 1px solid silver;
    border-collapse: collapse;
}

tr:hover {
    background-color: lightskyblue;
}

button {
    border: none;
    background-color: white;
}

span {
    cursor: pointer;
}
