body {
  background-color: #21232e;
  width: 1920px;
  margin: 0 auto;
  font-size: 16px;
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif; }
  body .header-wrap {
    background-image: url("../img/m-h-night.jpg");
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 1920px;
    border-bottom-right-radius: 40%; }
    body .header-wrap div, body .header-wrap > p {
      margin-left: 12rem; }
    body .header-wrap .landing-logo {
      display: flex;
      justify-content: left;
      column-gap: 0.3rem; }
      body .header-wrap .landing-logo img {
        margin-top: 1rem; }
      body .header-wrap .landing-logo p {
        font-family: "Fresca", sans-serif;
        margin-top: 0.8rem;
        margin-bottom: 0;
        font-size: 1.5rem;
        font-weight: 600;
        width: 4.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        body .header-wrap .landing-logo p span {
          font-size: 0.65rem;
          font-weight: 600;
          text-align: center; }
    body .header-wrap .header_heading {
      font-size: 4.5rem;
      font-weight: bold;
      width: 35rem;
      margin-top: 4rem;
      margin-bottom: 3.2rem;
      line-height: 1; }
      body .header-wrap .header_heading .header_heading_span {
        position: relative; }
        body .header-wrap .header_heading .header_heading_span::after {
          content: attr(data-word);
          position: absolute;
          top: 0.55rem;
          left: 0;
          background-color: #ff4e33; }
    body .header-wrap .header_text {
      font-family: "Fresca", sans-serif;
      margin-top: 0;
      width: 38rem;
      line-height: 1.5;
      letter-spacing: 0.3px; }
    body .header-wrap .header-button-wrap {
      width: 31rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 4rem; }
      body .header-wrap .header-button-wrap .header_button {
        color: #ffffff;
        background-color: #e3ac00;
        border: none;
        padding: 1rem 2.5rem;
        font-size: 1rem;
        font-weight: 600;
        border-radius: 0.2rem; }
      body .header-wrap .header-button-wrap .login {
        color: #ffffff;
        font-size: 1.3rem; }
  body .section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; }
    body .section .section_text {
      font-size: 2.5rem;
      font-weight: 600; }
      body .section .section_text .section-text-span {
        position: relative; }
        body .section .section_text .section-text-span::after {
          content: attr(data-word);
          position: absolute;
          top: 0;
          left: 0;
          margin-bottom: 1rem;
          background-color: #ff4e33; }
    body .section div.section_card_wrap {
      width: 70rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 2rem;
      color: #ffffff; }
      body .section div.section_card_wrap .section_card {
        display: flex;
        justify-content: flex-start;
        column-gap: 10%;
        width: 70rem;
        padding: 1rem 2rem 1rem 1rem;
        border-radius: 0.4rem;
        background-color: #3b3f50; }
        body .section div.section_card_wrap .section_card .section_card_img {
          border-radius: 0.4rem;
          width: 40%; }
        body .section div.section_card_wrap .section_card .section_card_right_container {
          width: 40%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
        body .section div.section_card_wrap .section_card .section_card_heading {
          font-size: 1.5rem;
          font-weight: 600; }
        body .section div.section_card_wrap .section_card .section_link, body .section div.section_card_wrap .section_card .section_card_text {
          color: #d9dede;
          line-height: 1.5; }
        body .section div.section_card_wrap .section_card .section_card_text {
          font-family: "Fresca", sans-serif; }
    body .section div.section_banner {
      position: absolute;
      top: 84.5rem;
      left: 21rem;
      background: linear-gradient(to right, #e3ac00, #943050);
      width: 78rem;
      border-radius: 0.4rem;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      body .section div.section_banner .section_banner_heading {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 0.2rem; }
        body .section div.section_banner .section_banner_heading .section-banner-heading-span {
          position: relative; }
          body .section div.section_banner .section_banner_heading .section-banner-heading-span::after {
            content: attr(data-word);
            position: absolute;
            bottom: 0.05rem;
            left: 0;
            padding-top: 1rem;
            background-color: #ff4e33; }
      body .section div.section_banner .section_banner_text {
        font-family: "Fresca", sans-serif;
        margin-top: 1rem;
        margin-bottom: 2rem;
        color: #d9dede;
        font-weight: 500; }
      body .section div.section_banner .section_banner_button {
        color: #ffffff;
        background-color: #e3ac00;
        border: none;
        padding: 1rem 2.5rem;
        font-size: 1rem;
        font-weight: 600;
        border-radius: 0.2rem; }
  body .footer-wrap {
    font-family: "Fresca", sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15rem;
    padding-top: 7rem;
    padding-bottom: 3rem;
    background-color: #3b3f50;
    color: #d9dede; }
    body .footer-wrap .footer_logo {
      display: flex;
      justify-content: left;
      column-gap: 0.3rem; }
      body .footer-wrap .footer_logo img {
        margin-top: 1rem; }
      body .footer-wrap .footer_logo p {
        font-family: "Fresca", sans-serif;
        margin-top: 0.8rem;
        margin-bottom: 0;
        font-size: 1.5rem;
        font-weight: 600;
        width: 4.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        body .footer-wrap .footer_logo p span {
          font-size: 0.65rem;
          font-weight: 600;
          text-align: center; }
    body .footer-wrap .footer_text {
      width: 21rem; }
