html {
  scroll-behavior: smooth;
}

.section {
  scroll-margin-top: 5rem;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  position: relative;
}

.header-heading {
  position: fixed;
  top: 1rem;
  left: 0;
}

.header-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  margin-bottom: 1rem;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.menu-list li {
  display: block;
  margin: 0 0.5rem;
  font-weight: bold;
}

.empty-div {
  height: 5.5rem;
}

.header-text-wrapper {
  background-image: url("../img/lady.jpg");
  background-size: cover;
  background-position: left 30% bottom 0;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
}

.header-text p {
  text-align: center;
}

.header-text-center {
  font-size: 2.2rem;
  color: black;
  font-weight: 700;
  width: 70%;
}

.header-text-below {
  font-size: 1.1rem;
  color: #363636;
  margin-top: 0;
}

.header-icons-wrap {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.header-icons-wrap div {
  width: 3rem;
  height: 3rem;
  background-color: #0078aa;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.header-icons-wrap svg {
  fill: #fff;
  width: 60%;
  height: 60%;
}

.tools-pic img {
  width: 100%;
}

.about-clinic-articles-wrapper {
  text-align: center;
}

.about-clinic-p {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 0;
}

.prof-care {
  color: #0078aa;
  font-weight: 500;
  margin-bottom: 2rem;
}

.about-clinic-articles-wrapper > article > p::before {
  content: "\27AA";
  color: #0078aa;
}

.services-section {
  background-image: url("../img/services_bg.jpg");
  padding: 1rem;
  margin-top: 1rem;
}

.services-section > p {
  text-align: center;
}

.services-section > p:first-child {
  font-size: 1.7rem;
  margin-bottom: 0;
}

.services-section article {
  background-color: white;
  margin-bottom: 1.5rem;
  padding: 1rem;
}

.pricing-section {
  text-align: center;
}

.xmark-div {
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing-articles-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.pricing-articles-wrapper article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.border {
  border: 1px solid #0078aa;
  border-left: 2px solid #0078aa;
  border-bottom: 2px solid #0078aa;
}

.get-now-button {
  border: 2px solid #0078aa;
  border-radius: 1rem;
  width: 40%;
  padding: 1rem;
  color: #0078aa;
  background-color: white;
  font-weight: 600;
  font-size: 1.1rem;
}

.contact-section {
  display: flex;
  flex-direction: column;
}

.contact-section-left-container {
  background-image: url("../img/contact_image.jpg");
  background-size: cover;
}

.contact-form-wrapper {
  padding: 0 1rem 1rem;
  margin-top: -0.5rem;
}

.contact-form-wrapper p {
  text-align: center;
}

.form-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

div.submit-button {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

#submit-button {
  border: 1px solid white;
  border-radius: 1rem;
  width: 40%;
  padding: 1rem;
  color: #fff;
  background-color: #0078aa;
  font-weight: 600;
  font-size: 1.1rem;
}

.footer-wrap {
  background-color: #363636;
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
}

.borderless-field {
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #d5d4d4;
  color: #363636;
}

.borderless-field-full {
  border: none;
}

.text-indent-03rem {
  text-indent: 0.3rem;
}

.text-indent-05rem {
  text-indent: 0.5rem;
}


.svg-white {
  fill: white;
}

.svg-primary {
  fill: #0078aa;
}

.bg-blue {
  background-color: #47c9e5;
}

.fs1-2rem {
  font-size: 1.2rem;
}

.fs1-5rem {
  font-size: 1.5rem;
}

.fs-2rem {
  font-size: 2rem;
}

.fs-3rem {
  font-size: 3rem;
}

.fs-4rem {
  font-size: 4rem;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

.fs-italic {
  font-style: italic;
}

.pd1rem {
  padding: 1rem;
}

.pd-bottom05rem {
  padding-bottom: 0.5rem;
}

.pd-bottom1rem {
  padding-bottom: 1rem;
}

.color-white {
  color: white;
}

.color-primary {
  color: #0078aa;
}

.color-blue {
  color: #47c9e5;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-top {
  margin-top: 0;
}

@media (hover: hover) {
  .menu-list a:hover {
    color: #0078aa;
  }

  .header-icons-wrap div:hover {
    background-color: #fff;
    border: 1px solid #0078aa;
    box-sizing: border-box;
  }

  .header-icons-wrap svg:hover {
    fill: #0078aa;
  }

  .fixed-up-button:hover {
    background-color: #fff;
    border: 1px solid #0078aa;
    box-sizing: border-box;
  }

  .fixed-up-button svg:hover {
    fill: #0078aa;
  }

  .get-now-button:hover {
    border: 2px solid #0078aa;
    color: #fff;
    background-color: #0078aa;
  }

  #submit-button:hover {
    box-sizing: border-box;
    border: 1px solid #0078aa;
    color: #0078aa;
    background-color: #fff;
  }
}

@media screen and (max-width: 767px) {
  .fixed-up-button {
    position: fixed;
    bottom: 3rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    background-color: #0078aa;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  .fixed-up-button a {
    text-align: center;
  }

  .fixed-up-button svg {
    fill: #fff;
    width: 35%;
    height: 35%;
  }
}

@media screen and (min-width: 768px) {
  .header-heading {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .header-heading-logo-container {
    position: relative;
    top: 0;
    left: 1rem;
  }
  .menu-wrapper {
    position: relative;
    top: 0;
    right: 1rem;
  }
  .header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5rem;
  }
  .header-text p {
    width: 70%;
    text-align: left;
  }
  .header-text p:nth-child(2) {
    width: 60%;
    text-align: left;
    color: #b1b9c6;
  }
  .header-icons-wrap {
    display: flex;
    justify-content: flex-start;
    column-gap: 2rem;
    padding: 1rem;
  }
  .header-text-wrapper {
    background-position: left 40% bottom 0;
    padding-top: 5rem;
    padding-bottom: 8rem;
    padding-left: 1rem;
  }
  .about-clinic-section {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    align-items: center;
  }
  .tools-pic {
    width: 50%;
  }
  .about-clinic-articles-wrapper {
    width: 50%;
    text-align: left;
  }
  body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    position: relative;
  }
  .fixed-up-button {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    width: 3rem;
    height: 3rem;
    background-color: #0078aa;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  .fixed-up-button a {
    text-align: center;
  }

  .fixed-up-button svg {
    fill: #fff;
    width: 35%;
    height: 35%;
  }
  .services-articles-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 2rem;
  }
  .services-articles-wrapper article {
    width: 25%;
  }
  .pricing-section {
    background-image: url("../img/pricing_bg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left 25% top 15%;
  }
  .pricing-articles-wrapper {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    column-gap: 0;
  }

  .pricing-articles-wrapper article {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pricing-articles-wrapper article:nth-child(2) {
    width: 22%;
    height: 100%;
  }
  .contact-section {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
  }
  .contact-section div {
    width: 50%;
  }
  .contact-form-wrapper p {
    text-align: left;
  }
  div.submit-button {
    display: flex;
    justify-content: flex-start;
    width: 70%;
    margin-left: 0;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 1280px) {
  .header-heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .header-heading-logo-container {
    position: relative;
    top: 1rem;
    left: 8rem;
  }
  .menu-wrapper {
    position: relative;
    top: 1rem;
    right: 8rem;
  }
  .fixed-up-button {
    position: fixed;
    bottom: 15rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    background-color: #0078aa;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  .header-text p {
    width: 40%;
    text-align: left;
  }
  .header-text-below {
    width: 40%;
  }
  .about-clinic-articles-wrapper {
    width: 30%;
    text-align: left;
  }
  .services-articles-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 2rem;
  }
}