body {
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    font-family: 'Roboto', sans-serif;
}

.bg-color {
    background-color: #343a40;
}

.btn-secondary {
    background-color: coral;
}

.bg-color-white {
    background-color: white;
}

.clr-black {
    color: #111;
}
.clr-white {
    color: white;
}

.text-font-small {
    font-size: 0.8rem;
}