@import '_variables1';
@import '_variables2';
@mixin logo{display: flex;
  justify-content: left;
  column-gap: 0.3rem;
  img {
    margin-top: 1rem;
  }
  p {
    font-family: $fontFamilyAdditional;
    margin-top: 0.8rem;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 600;
    width: 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span {
      font-size: 0.65rem;
      font-weight: 600;
      text-align: center;
    }
  }
};
@mixin button{
  color: map-get($colorMap, sectionCardHeadingColor);
  background-color: map-get($colorMap, sectionBannerGradientColor1);
  border: none;
  padding: 1rem 2.5rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: $headerButtonBorderRadius;
}
@mixin link{
  color: map-get($colorMap, sectionCardHeadingColor);
  font-size: 1.3rem;
}

body {
  background-color: map-get($colorMap, bodyBackgroundColor);
  width: $bodyWidth;
  margin: 0 auto;
  font-size: $bodyFontSize;
  color: map-get($colorMap, headerFontColor);
  font-family: $fontFamily;

  .header-wrap {
    background-image: url($headerBackgroundImage);
    background-size: cover;
    background-position: center;
    height: $headerHeight;
    width: $bodyWidth;
    border-bottom-right-radius: $headerBackBorderRadius;
      div, & > p {
        margin-left: $headerMarginLeft;
      }
      .landing-logo {
        @include logo;
      }
      .header_heading {
        font-size: 4.5rem;
        font-weight: bold;
        width: 35rem;
        margin-top: 4rem;
        margin-bottom: 3.2rem;
        line-height: 1;
        .header_heading_span {
          position: relative;
          &::after {
            content: attr(data-word);
            position: absolute;
            top: 0.55rem;
            left: 0;
            background-color: map-get($colorMap, TextSelectionBackColor);
          }
        }
      }
      .header_text {
        font-family: $fontFamilyAdditional;
        margin-top: 0;
        width: 38rem;
        line-height: 1.5;
        letter-spacing: 0.3px;
      }
      .header-button-wrap {
        width: 31rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 4rem;
        .header_button {
          @include button;
        }
        .login {
          @include link;
        }
      }
  }
  .section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
      .section_text {
        font-size: 2.5rem;
        font-weight: 600;
        .section-text-span {
          position: relative;
          &::after {
            content: attr(data-word);
            position: absolute;
            top: 0;
            left: 0;
            margin-bottom: 1rem;
            background-color: map-get($colorMap, TextSelectionBackColor);
          }
        }
      }
      div.section_card_wrap {
        width: 70rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
        color: map-get($colorMap, sectionCardHeadingColor);
          .section_card {
            display: flex;
            justify-content: flex-start;
            column-gap: 10%;
            width: 70rem;
            padding: 1rem 2rem 1rem 1rem;
            border-radius: $sectionCardBorderRadius;
              .section_card_img {
                border-radius: $sectionCardImgBorderRadius;
                width: 40%;
              }
              .section_card_right_container {
                width: 40%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
              }
                .section_card_heading {
                  font-size: 1.5rem;
                  font-weight: 600;
                }
                .section_link {
                  color: map-get($colorMap, sectionCardTextColor);
                  line-height: 1.5;
                }
                .section_card_text {
                  @extend .section_link;
                  font-family: $fontFamilyAdditional;
                }
            background-color: map-get($colorMap, sectionCardBackColor);
          }
      }
      div.section_banner {
        position: absolute;
        top: 84.5rem;
        left: 21rem;
        background: linear-gradient(to right, map-get($colorMap, sectionBannerGradientColor1),
                map-get($colorMap, sectionBannerGradientColor2));
        width: 78rem;
        border-radius: $sectionCardBorderRadius;
        display: flex;
        justify-content: space-around;
        align-items: center;
          .section_banner_heading {
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 0.2rem;
            .section-banner-heading-span {
              position: relative;
              &::after {
                content: attr(data-word);
                position: absolute;
                bottom: 0.05rem;
                left: 0;
                padding-top: 1rem;
                background-color: map-get($colorMap, TextSelectionBackColor);
              }
            }
          }
          .section_banner_text {
            font-family: $fontFamilyAdditional;
            margin-top: 1rem;
            margin-bottom: 2rem;
            color: map-get($colorMap, sectionCardTextColor);
            font-weight: 500;
          }
        .section_banner_button {
          @include button;
        }
      }
  }
  .footer-wrap {
    font-family: $fontFamilyAdditional;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15rem;
    padding-top: 7rem;
    padding-bottom: 3rem;
    background-color: map-get($colorMap, sectionCardBackColor);
    color: map-get($colorMap, sectionCardTextColor);
      .footer_logo {
        @include logo;
      }
      .footer_text {
        width: 21rem;
      }
  }
}