$bodyWidth: 1920px;
$bodyFontSize: 16px;
$headerBackBorderRadius: 40%;
$headerHeight: 700px;
$headerFontColor: #2c2f3c;
$headerMarginLeft: 12rem;
$textSelectionBackColor: #14a0c7;
$headerButtonBorderRadius: 0.2rem;
$sectionCardHeadingColor: white;
$sectionCardBackColor: #21232e;
$sectionCardBorderRadius: 0.4rem;
$sectionCardImgBorderRadius: 0.4rem;
$sectionCardTextColor: #b1b6b5;
$sectionBannerGradientColor1: #62911a;
$sectionBannerGradientColor2: #2f5dd0;