$bodyWidth: 1920px;
$bodyFontSize: 16px;
$colorMap: (bodyBackgroundColor: #ffffff, headerFontColor: #2c2f3c, TextSelectionBackColor: #14a0c7,
        sectionCardHeadingColor: #ffffff, sectionCardBackColor: #21232e, sectionCardTextColor: #b1b6b5,
        sectionBannerGradientColor1: #62911a, sectionBannerGradientColor2: #2f5dd0
);
$fontFamily: 'Source Sans Pro', sans-serif;
$fontFamilyAdditional: 'Source Sans Pro', sans-serif;
$headerBackBorderRadius: 40%;
$headerHeight: 700px;
$headerMarginLeft: 12rem;
$headerButtonBorderRadius: 0.2rem;
$headerBackgroundImage: '../img/m-h-day.jpg';
$sectionCardBorderRadius: 0.4rem;
$sectionCardImgBorderRadius: 0.4rem;