$bodyWidth: 1920px;
$bodyFontSize: 16px;
$colorMap: (bodyBackgroundColor: #21232e, headerFontColor: #ffffff, TextSelectionBackColor: #ff4e33,
        sectionCardHeadingColor: #ffffff, sectionCardBackColor: #3b3f50, sectionCardTextColor: #d9dede,
        sectionBannerGradientColor1: #e3ac00, sectionBannerGradientColor2: #943050
);
$fontFamily: 'Source Sans Pro', sans-serif;
$fontFamilyAdditional: 'Fresca', sans-serif;
$headerBackBorderRadius: 40%;
$headerHeight: 700px;
$headerMarginLeft: 12rem;
$headerButtonBorderRadius: 0.2rem;
$headerBackgroundImage: '../img/m-h-night.jpg';
$sectionCardBorderRadius: 0.4rem;
$sectionCardImgBorderRadius: 0.4rem;
